body {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.container {
  background-image: url(./background1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  justify-content: center;
  height: 40px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fefefe;
  margin: 100px auto 20px;
  padding: 40px 40px 70px;
  border-radius: 50px; /* Adjust the border radius as needed */
  border: 6px solid #b0424f; /* Adjust the border color */
}

.todo-app h2 {
  margin-left: 93px;
  color: #b12c3b;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 40px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #b12c3b;
  color: #fffcfc;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}


button:hover {
  opacity: 0.7;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 11px 9px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.strawberry {
  position: static;
  background: #b12c3b;
  border-radius: 60px;
  padding: 2px 2px 2px 130px;
  height: 50px;
  width: 300px;
  margin-left: 20px;
}

.strawberry {
  white-space: nowrap; /* Prevent line breaks */
}

.strawberry img {
  display: inline-block; /* Display images in a row */
  margin-right: 5px; /* Add spacing between images, adjust as needed */
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: url(./unchecked.png) center/cover;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #f7c2d1;
  text-decoration: line-through;
}

ul li.checked::before {
  background: url(./checked.png) center/cover;
  border-radius: 2px;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #b08c8c;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}