body {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent horizontal scrollbar due to absolute positioning */
}

.container {
  opacity: .9;
  background-image: url(./background1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  height: 40px;
}

header {
  background-color: white;
  padding: 1px 20px 50px 40px;
  text-align: center;
  height: 90px;
}
header img {
  cursor: pointer;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fefefe;
  margin: 100px auto 20px;
  padding: 40px 40px 70px;
  border-radius: 50px; /* Adjust the border radius as needed */
  border: 6px solid #da85a1; /* Adjust the border color */
}

.todo-app h2 {
  margin-left: 93px;
  color: #da85a1;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 40px;
  margin-left: 10px;
}

.row {
  color: #da85a1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #da85a1;
  color: #fffcfc;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

#complete-all-button {
  background: #da85a1; /* Adjust the color for the "Complete All" button */
}

button:hover {
  opacity: 0.7;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 11px 9px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.banner img {
  position: static;
  margin-left: 100px;
  margin-bottom: 200px;
}

.banner {
  white-space: nowrap; /* Prevent line breaks */
}

.strawberry img {
  display: inline-block; /* Display images in a row */
  margin-right: 5px; /* Add spacing between images, adjust as needed */
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: url(./unchecked.png) center/cover;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #da85a1;
  text-decoration: line-through;
}

ul li.checked::before {
  background: url(./checked.png) center/cover;
  border-radius: 2px;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #da85a1;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

#good-job-message {
  color: #e16488;
  background-color: rgb(255, 226, 234);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.70;
}

/* Add styles for the flying bird */
.flying-bird {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px; /* Adjust the size of the bird as needed */
}

#make-list-button {
  background-color: #da85a1;
  color: #fffcfc;
  padding: 16px 50px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: block; /* Ensure it's a block-level element to control width and margins */
  margin: 30px auto; } /* Adjust the